body {
	text-align: center;
}

.wrapper {
	border: 1px solid #CACACA;
	width: 90%;
	margin: auto;
	background: white;
	margin-top: 0vmax
}

.wrapper a {
	text-decoration: none;
	color: #CACACA
}

.wrapper a:hover {
	color: blue
}

.wrapper h3 {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 530
}

.wrapper p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* .content img {
	width: 30%;
	height: 5vh
} */

.flexCont {
	/* display: flex; */
	width: 80%;
	margin: auto
}